@model int

<div class="text-center">
    <p class="text-info pt-4"> Congratulations!</p>
    <p class="pb-3"> We received your order</p>
    <p class="text-warning pb-3"> Order Id : @Model</p>

</div>